/* Shared style  */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 3rem;
    background: #FF42A5;
    padding: 1rem;
    color: #FFF;
    ;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin: 2rem 1rem 2rem 0;
}

.btn-secondary {
    border-radius: 3rem;
    background: #4EC5F7;
    padding: 1rem;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin: 2rem 1rem 2rem 0;
}




/* Header style  */
header {
    padding: 2rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 1rem lightgray;
}

.logo-section {
    display: flex;
    justify-content: flex-start;
}

.logo {}

.logo-name {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    color: #0B0223;
    padding-left: 0.5rem;
}

.logo-color {
    color: #FF42A5;
}

.nav-section {}

.nav-menu-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.nav-menu {
    color: #3C354F;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
}

.nav-btn {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    color: #3C354F;
    font-size: 1.5rem;
    font-weight: 500;
    background: rgba(11, 2, 35, 0.10);
}

.fa-youtube {
    color: #F61C0D;
}

.fa-tiktok {
    color: black;
}


/* Banner section  */
.banner-container {
    background-image: url('images/Group\ 14.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    padding: 1rem 0 1rem 6rem;

}

.banner-content li {
    list-style: none;
    color: #534C64;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.sub-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.title {
    font-family: Work Sans;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #8b0656 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-circle-play {}

.fa-circle-down {}

.fa-people-group {}

.btn-banner-left {}

.btn-banner-right {}

.banner-img {
    padding: 1rem 6rem 1rem 0rem;
    width: 60;
}

.banner-img img {
    width: 100%;
}