/* Shared style  */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 3rem;
    background: #FF42A5;
    padding: 1rem;
    color: #FFF;
    ;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin: 2rem 1rem 2rem 0;
}

.btn-secondary {
    border-radius: 3rem;
    background: #4EC5F7;
    padding: 1rem;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin: 2rem 1rem 2rem 0;
}

/* Header style  */
header {
    padding: 2rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 1rem lightgray;
}

.logo-section {
    display: flex;
    justify-content: flex-start;
}

.logo {}

.logo-name {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    color: #0B0223;
    padding-left: 0.5rem;
}

.logo-color {
    color: #FF42A5;
}

.nav-section {}

.nav-menu-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.nav-menu {
    color: #3C354F;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
}

.nav-btn {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    color: #3C354F;
    font-size: 1.5rem;
    font-weight: 500;
    background: rgba(11, 2, 35, 0.10);
}

.fa-youtube {
    color: #F61C0D;
}

.fa-tiktok {
    color: black;
}


/* Banner section  */
.banner-container {
    background-image: url('images/Group\ 14.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    padding: 1rem 0 1rem 6rem;

}

.banner-content li {
    list-style: none;
    color: #534C64;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.sub-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.title {
    font-family: Work Sans;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #8b0656 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-circle-play {}

.fa-circle-down {}

.fa-people-group {}

.btn-banner-left {}

.btn-banner-right {}

.banner-img {
    padding: 1rem 6rem 1rem 0rem;
    width: 40%;
}

.banner-img img {
    width: 100%;
    height: 30rem;
}


/* Intro section  */
.intro-container {
    padding: 5rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.intro-img {
    width: 100%;
}

.intro-img img {
    width: 100%;
    height: auto;
}

.intro-content {
    text-align: right;
}

.intro-title {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
}

.intro-description {
    padding: 0 0 0 20rem;
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
}

.btn-intro {}

.intro-tail {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
}

.intro-qoute {
    color: #534C64;
    font-family: Work Sans;
    font-size: 2rem;
    font-weight: 700;
}


/* Videos section  */
.video-container {
    padding: 5rem 6rem;
}

.video-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.video-title-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video-sub-title {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 1rem;
}

.video-card-container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;

}

.video-card {
    width: 22rem;
    padding: 1rem;
}

.card-img {
    width: 100%;
    margin-bottom: 1rem;
    height: 20rem;
}




.video-card .image-container {
    position: relative;
    display: inline-block;
}

.hover-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    opacity: 0;
    border: 5px solid #FF42A5;
    border-radius: 15px;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container:hover .hover-content {
    opacity: 1;
}

.play-icon {
    font-size: 36px;
    margin-bottom: 10px;
}





.card-description {
    color: #534C64;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 30px;
}

/* Play Instant section  */
.instant-container {
    padding: 5rem 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.instant-content {
    text-align: right;
    padding-right: 6rem;
    padding-left: 6rem;
    width: 30%;
}

.instant-title-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instant-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.instant-description {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
}

.instant-pics {
    padding: 2rem;
    width: 50%;
}

.relative-img {
    width: 100%;
    position: relative;
}

.abslute-img {
    position: absolute;
    top: 2450px;
    left: 650px;
}

/* Play Instant section 2  */
.instant-container-2 {
    padding: 5rem 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
}

.instant-content-2 {
    text-align: left;
    padding-right: 6rem;
    padding-left: 6rem;
    width: 30%;
}

.instant-title-color-2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instant-title-2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.instant-description-2 {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
}

.instant-pics-2 {
    padding: 2rem;
    width: 50%;
}

.relative-img-2 {
    width: 100%;
    position: relative;
}

.abslute-img-2 {
    position: absolute;
    top: 3300px;
    left: 550px;
}

/* Career section  */
.career-container {
    margin: 0;
    padding: rem 0;
    background-image: url('images/Group 14.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.career-content {
    padding: 0 0 0rem 4rem;
    width: 50%;
}

.career-title {
    color: #FFF;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 0.5rem;
}

.career-description {
    margin-bottom: 0.5rem;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: justify;
}

.information {
    display: flex;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 3.5rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.skill {}

.location {}


.btn-career {
    border-radius: 48px;
    background: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: #FF42A5;
    padding: 1rem;
    border: none;
    margin-bottom: 2rem;
}


.career-img {
    padding: 0;
}

.career-img img {
    width: 100%;
}




/* Button section  */
.button-container {
    padding: 5rem 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.button-container button {
    width: 15rem;
    background-color: #ffffff;
    border: none;
    border-radius: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3rem;
    color: #0B0223;
}


.button-container button:hover {

    border: 2px solid #FF42A5;
    color: #FF42A5;
}

.button-box img {
    width: 4rem;
    height: 4rem;
}

.button-title {}


/* Footer section  */
footer {
    background: #0B0223;
    padding: 5rem 6rem;
}

footer a {
    text-decoration: none;
    color: #FFF;

}

.footer-section {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    color: #FFF;
}

.footer-section h1 {
    color: #FFF;
}

.footer-service-container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-bottom: 2rem;

}

.footer-service-container a {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}


.footer-social-media {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.footyer-terms-condition {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin: 2rem 0;
}

.footyer-terms-condition a {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.copyright p {
    text-align: center;
    margin: 2rem 0;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}


.hide{
    display: none;
}











/* Responsive style  */
@media screen and (max-width:426px) {
    *, body {
        flex-direction: column;
        padding: 0;
        flex-wrap: wrap;
        margin: 0;

        text-align: center;
    }









    /* Header style  */
    header {
        padding: 10px 0;
        flex-direction: column;
    }


    /* Banner section  */
    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-content {
        padding: 0;
        background-image: none;
    }

    .banner-img {
        padding: 0;
    }

    .banner-img img {
        width: 100%;
        height: auto;
    }


    /* Intro section  */
    .intro-container {
        padding: 0;
        
    }

    .intro-img {
        width: 100%;
    }

    .intro-img img {
        width: 100%;
        height: auto;
    }

    .intro-content {
        text-align: center;
    }


    .intro-description {
        padding: 0;
    
    }


    /* Videos section  */
    .video-container {
        padding: 0;
    }

  
    .video-card-container {
        flex-direction: column;
    }

    .video-card {
        
    }

    .card-img {
       
    }








    .card-description {
        color: #534C64;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 30px;
    }

    /* Play Instant section  */
    .instant-container {
        padding: 0;
        flex-direction: column;
    }

    .instant-content {
        text-align: center;
        padding-right: 0rem;
        padding-left: 0rem;
        width: 100%;
    }

    .instant-title-color {
        
    }

    .instant-title {
        
        
    }

    .instant-description {
        
    }

    .instant-pics {
        padding: 0rem;
        width: 100%;
    }

    .relative-img {
        width: 80%;
        position: relative;
    }

    .abslute-img {
        position: absolute;
        top: 4275px;
        left: 20px;
        width: 100px;
    }

    /* Play Instant section 2  */
    .instant-container-2 {
        padding: 0;
        flex-direction: column-reverse;
    }

    .instant-content-2 {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .instant-title-color-2 {
        

    .instant-title-2 {
        
    }

    .instant-description-2 {
        
    }

    .instant-pics-2 {
        padding: 0rem;
        width: 100%;
    }

    .relative-img-2 {
        width: 100%;
        position: relative;
    }

    .abslute-img-2 {
        position: absolute;
        top: 3300px;
        left: 15px;
        width: 100px;
    }

    /* Career section  */
    .career-container {
        margin: 0;
        padding: rem 0;
        background-image: url('images/Group 14.png');
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    }

    .career-content {
        padding: 0 0 0rem 4rem;
        width: 50%;
    }

    .career-title {
        color: #FFF;
        font-family: Work Sans;
        font-size: 3rem;
        font-weight: 700;
        line-height: 4rem;
        margin-bottom: 0.5rem;
    }

    .career-description {
        margin-bottom: 0.5rem;
        color: #FFF;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2rem;
        text-align: justify;
    }

    .information {
        display: flex;
        color: #FFF;
        font-size: 20px;
        font-weight: 600;
        line-height: 3.5rem;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

    .skill {}

    .location {}


    .btn-career {
        border-radius: 48px;
        background: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        color: #FF42A5;
        padding: 1rem;
        border: none;
        margin-bottom: 2rem;
    }


    .career-img {
        padding: 0;
    }

    .career-img img {
        width: 100%;
    }




    /* Button section  */
    .button-container {
        padding: 5rem 6rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    }

    .button-container button {
        width: 15rem;
        background-color: #ffffff;
        border: none;
        border-radius: 3rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1.5rem;
        margin-top: 3rem;
        color: #0B0223;
    }


    .button-container button:hover {

        border: 2px solid #FF42A5;
        color: #FF42A5;
    }

    .button-box img {
        width: 4rem;
        height: 4rem;
    }

    .button-title {}


    /* Footer section  */
    footer {
        background: #0B0223;
        padding: 5rem 6rem;
    }

    footer a {
        text-decoration: none;
        color: #FFF;

    }

    .footer-section {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 2rem;
        color: #FFF;
    }

    .footer-section h1 {
        color: #FFF;
    }

    .footer-service-container {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 2rem;
        margin-bottom: 2rem;

    }

    .footer-service-container a {
        color: #FFF;
        font-size: 18px;
        font-weight: 600;
    }


    .footer-social-media {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .footyer-terms-condition {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 2rem;
        margin: 2rem 0;
    }

    .footyer-terms-condition a {
        color: rgba(255, 255, 255, 0.60);
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }

    .copyright p {
        text-align: center;
        margin: 2rem 0;
        color: rgba(255, 255, 255, 0.60);
        font-weight: 500;
    }


}