/* Shared style  */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.hide {
    display: none;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 3rem;
    background: #FF42A5;
    padding: 1rem;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin: 2rem 1rem 2rem 0;
    width: 15rem;
}

.btn-secondary {
    border-radius: 3rem;
    background: #4EC5F7;
    padding: 1rem;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    margin: 2rem 1rem 2rem 0;
    width: 15rem;
}

/* Header style  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 1rem lightgray;
}

.logo-section {
    display: flex;
    justify-content: flex-start;
}

.logo {}

.logo-name {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    color: #0B0223;
    padding-left: 0.5rem;
}

.logo-color {
    color: #FF42A5;
}

.nav-section {}

.nav-menu-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.nav-menu {
    color: #3C354F;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
}

.nav-btn {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    color: #3C354F;
    font-size: 1.5rem;
    font-weight: 500;
    background: rgba(11, 2, 35, 0.10);
}

.fa-youtube {
    color: #F61C0D;
}

.fa-tiktok {
    color: black;
}

/* Banner section  */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('images/Group\ 14.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content li {
    list-style: none;
    color: #534C64;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
    width: 80;
}

.sub-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.title {
    font-family: Work Sans;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #8b0656 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-circle-play {}

.fa-circle-down {}

.fa-people-group {}

.btn-banner-left {}

.btn-banner-right {}

.banner-img {
    padding: 0;
    width: 50%;
}

.banner-img img {
    width: 100%;
    height: 30rem;
}

/* Intro section  */
.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.intro-img {
    width: auto;
}

.intro-img img {
    width: 100%;
    height: auto;
}

.intro-content {
    text-align: right;
}

.intro-title {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
}

.intro-description {
    padding: 0 0 0 20rem;
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
}

.btn-intro {}

.intro-tail {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
}

.intro-qoute {
    color: #534C64;
    font-family: Work Sans;
    font-size: 2rem;
    font-weight: 700;
}

/* Videos section  */
.video-container {}

.video-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.video-title-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video-sub-title {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 1rem;
}

.video-card-container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;

}

.video-card {
    width: 18rem;
    padding: 1rem;
}

.image-container img {
    width: 280px;
    margin-bottom: 1rem;
    height: 300px;
}

.video-card .image-container {
    position: relative;
    display: inline-block;
}

.hover-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 98%;
    height: 92%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    opacity: 0;
    border: 5px solid #FF42A5;
    border-radius: 15px;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container:hover .hover-content {
    opacity: 1;
}

.play-icon {
    font-size: 36px;
    margin-bottom: 10px;
}

.card-description {
    color: #534C64;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 30px;
}

/* Play Instant section  */
.instant-container {
    margin: 5rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.instant-content {
    text-align: right;
    width: 30%;
    margin-right: 5rem;

}

.instant-title-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instant-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.instant-description {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
}

.instant-pics {
    position: relative;
}

.absolute-img {
    position: absolute;
    left: -100px;
    bottom: -100px;
}

.relative-img,
.relative-img-2 {
    width: auto;
    height: auto;
}

.absolute-img img,
.absolute-img-2 img {
    width: auto;
    height: auto;
}

/* Play Instant section 2  */
.instant-container-2 {
    margin: 5rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
}

.instant-content-2 {
    text-align: left;
    width: 30%;
    margin-left: 5rem;
}

.instant-title-color-2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instant-title-2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.instant-description-2 {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
}

.instant-pics-2 {
    position: relative;
}

.absolute-img-2 {
    position: absolute;
    right: -100px;
    bottom: -100px;
}

/* Career section  */
.career-container {
    margin: 0;
    padding: 0;
    background-image: url('images/Group 14.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.career-content {
    padding: 0 0 0rem 4rem;
    width: 50%;
}

.career-title {
    color: #FFF;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 0.5rem;
}

.career-description {
    margin-bottom: 0.5rem;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: justify;
}

.information {
    display: flex;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 3.5rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.skill {}

.location {}

.btn-career {
    border-radius: 48px;
    background: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    color: #FF42A5;
    padding: 1rem;
    border: none;
    margin-bottom: 2rem;
}

.career-img {}

.career-img img {
    width: 100%;
}

/* Button section  */
.button-container {
    padding: 5rem 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.button-container button {
    width: 15rem;
    background-color: #ffffff;
    border: none;
    border-radius: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3rem;
    color: #0B0223;
}


.button-container button:hover {

    border: 2px solid #FF42A5;
    color: #FF42A5;
}

button img {
    width: 4rem;
    height: 4rem;
}

.button-title {}


/* Footer section  */
footer {
    background: #0B0223;
}

footer a {
    text-decoration: none;
    color: #FFF;

}

.footer-section {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
    color: #FFF;
}

.footer-section h1 {
    color: #FFF;
}

.footer-service-container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-bottom: 2rem;

}

.footer-service-container a {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.footer-social-media {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.footer-terms-condition {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin: 2rem 0;
    align-items: center;
}

.footer-terms-condition a {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.copyright p {
    text-align: center;
    margin: 2rem 0;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}

header,
footer,
.button-container,
.instant-container-2,
.instant-container,
.video-container,
.intro-container,
.banner-container {
    padding: 3rem 6rem;

}


/* Responsive style for small device */
@media screen and (max-width: 576px) {
    body {
        padding: 0;
        flex-direction: column;
    }

    header,
    footer,
    .button-container,
    .career-container,
    .instant-container-2,
    .instant-container,
    .video-container,
    
    .banner-container {
        padding: 10px;
        flex-direction: column;
    }

    .intro-container{
        padding: 0px;
        flex-direction: column;
    }

    footer,
    .button-container,
    .career-container,
    .instant-container-2,
    .instant-container,
    .video-container {
        padding: 2rem 0;
        margin-top: 3rem;
    }


    .button-container,

    .instant-container-2,
    .instant-container,
    .video-container,
    .intro-container,
    .banner-container {
        margin: 0 2rem;
    }

    .nav-menu-container,
    .video-card-container {
        flex-direction: column;
        margin: auto;
    }

    .video-container {

        margin-left: 4rem;
    }

    .banner-img {
        padding: 0;
        width: 100%;
    }


    .banner-container,
    .instant-container-2 {
        flex-direction: column-reverse;
    }

    .button-container,
    .footer-service-container,
    .footer-social-media,
    .footer-terms-condition {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .instant-content,
    .instant-content-2 {
        text-align: center;
        width: 100%;
        margin-right: 0rem;

    }



    .button-container button {
        width: auto;
        background-color: #ffffff;
        border: none;
        border-radius: 3rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0.5rem;
        margin-top: 3rem;
        color: #0B0223;
        font-size: 8px;
    }

    button img {
        width: 2rem;
        height: 2rem;
    }




    .intro-content {
        text-align: center;
    }

    .intro-description {
        padding: 0;
        color: #534C64;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2rem;
    }

    .instant-content-2 {
        text-align: center;
        width: 100%;
        margin-left: 0;
    }

    .absolute-img {
        left: -50px;
        bottom: -50px;
    }

    .relative-img,
    .relative-img-2 {
        width: 300px;
        height: 50%;
    }

    .absolute-img img,
    .absolute-img-2 img {
        width: 100px;
        height: 50%;
    }

    .absolute-img-2 {
        right: -50px;
        bottom: -50px;
    }

    .career-content {
        padding: 0;
        width: 80%;
    }

    .career-title {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .career-description {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .information {
        display: flex;
        color: #FFF;
        font-size: 0.8rem;
        font-weight: 600;
        line-height: 1.5rem;
    }

    .btn-career {
        border-radius: 3rem;
        font-size: 0.8rem;
    }

    .banner-container {
        background-image: none;
    }

    .banner-text {
        
        margin: auto;
        width: 100%;
    }

    .banner-content {
        width: 100%;
        height: 300px;
        background-image: url('images/Group\ 14.png');
        background-repeat: no-repeat;
        background-size: 100%;
        text-align: center;
        padding-top: 4rem;
    }

    .banner-content li {
        font-size: 0.8rem;
    }

    .sub-title {
        font-size: 1rem;
    }

    .title {
        font-size: 2rem;
    }

    .btn-banner-left,
    .btn-banner-right {
        width: 7rem;
        font-size: 0.8rem;
        margin: 0;
    }
}


/* Responsive style for medium device */
@media screen and (min-width:576px) and (max-width: 960px) {
    body {
        padding: 0;
        flex-direction: column;
    }

    header,
    footer,
    .button-container,
    .career-container,
    .instant-container-2,
    .instant-container,
    .video-container,
    .intro-container,
    .banner-container {
        padding: 0px 0;
        flex-direction: column;
    }

    header footer,
    .button-container,
    .career-container,
    .instant-container-2,
    .instant-container,
    .video-container {
        padding: 4rem 0;
        margin-top: 3rem;
    }


    .button-container,

    .instant-container-2,
    .instant-container,
    .video-container,
    .intro-container,
    .banner-container {
        margin: 0 2rem;
    }


    .video-container {
        text-align: center;
    }


    .nav-menu-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .video-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

    .video-container {
        margin-left: 3rem;
    }

    .banner-container,
    .instant-container-2 {
        flex-direction: column-reverse;
    }

    .button-container,
    .footer-service-container,
    .footer-social-media,
    .footer-terms-condition {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .instant-content,
    .instant-content-2 {
        text-align: center;
        width: 100%;
        margin-right: 0rem;
        margin-bottom: 2rem;
    }

    .career-content {
        padding: 0;
        width: 80%;
        padding-top: 3rem;
    }

    .button-container button {
        width: auto;
        background-color: #ffffff;
        border: none;
        border-radius: 3rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0.5rem;
        margin-top: 3rem;
        color: #0B0223;
        font-size: 8px;
    }

    button img {
        width: 2rem;
        height: 2rem;
    }




    .intro-content {
        text-align: center;
    }

    .intro-description {
        padding: 0;
        color: #534C64;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2rem;
    }

    .instant-content-2 {
        text-align: center;
        width: 100%;
        margin-left: 0;
    }


    .absolute-img {
        left: -50px;
        bottom: -50px;
    }

    .relative-img,
    .relative-img-2 {
        width: 300px;
        height: 50%;
    }

    .absolute-img img,
    .absolute-img-2 img {
        width: 100px;
        height: 50%;
    }

    .absolute-img-2 {
        right: -50px;
        bottom: -50px;
    }


    .career-title {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .career-description {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .information {
        display: flex;
        color: #FFF;
        font-size: 0.8rem;
        font-weight: 600;
        line-height: 1.5rem;
    }

    .btn-career {
        border-radius: 3rem;
        font-size: 0.8rem;
    }

    .banner-container {
        background-image: none;
    }

    .banner-text {
        
        margin: auto;
        width: 100%;
    }

    .banner-content {
        width: 100%;
        height: 300px;
        background-image: url('images/Group\ 14.png');
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding-top: 4rem;
    }

    .banner-content li {
        font-size: 0.8rem;
    }

    .sub-title {
        font-size: 1rem;
    }

    .title {
        font-size: 2rem;
    }

    .btn-banner-left,
    .btn-banner-right {
        width: 7rem;
        font-size: 0.8rem;
        margin: 0;
    }

    footer {
        margin-top: 5rem;
        padding: 5rem 0;
    }

    header,
    .banner-container,
    .intro-container {
        padding: 3rem 0;
    }
}